In [8]:
from pyspark.sql import SparkSession,Row,SQLContext,catalog
from pyspark.sql.functions import col,lit,expr,instr,round,bround,monotonically_increasing_id,rand,lower,upper,ltrim,rtrim,lpad,rpad,trim,regexp_replace,regexp_extract,translate,locate

In [13]:
spark=SparkSession.builder.config("spark.driver.extraClassPath",r"C:\Users\Kowshik\anaconda3\Lib\site-packages\pyspark\jars\ojdbc11.jar").config("spark.executor.extraClassPath",r"C:\Users\Kowshik\anaconda3\Lib\site-packages\pyspark\jars\ojdbc11.jar").appName("Oracle-Spark").getOrCreate()

In [10]:
URL="jdbc:oracle:thin:@//localhost:1521/xepdb1"
DRIVER="oracle.jdbc.driver.OracleDriver"

In [17]:
PUSHDOWN_QUERY="""(Select * from PERSONS)""" 
df=spark.read.format("jdbc").option("url",URL).option("dbtable",PUSHDOWN_QUERY).option("user","system").option("password","admin").option("driver",DRIVER).load()

In [18]:
df.show()

+--------+-------------+---------+----------+-----------+
|PERSONID|     LASTNAME|FIRSTNAME|   ADDRESS|       CITY|
+--------+-------------+---------+----------+-----------+
|       1|RAVI CHANDRAN|  KOWSHIK|HUBENER RD|SAN ANTONIO|
|       2|     PRIYANGA|     SASI|HUBENER RD|SAN ANTONIO|
+--------+-------------+---------+----------+-----------+